.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1rem;
    margin: 1rem 0;
}
*{

    margin: 0; 
    padding: 0 ;    
    border: 0;
}

body{
    background: #4e4d4d;
    color: black;
    margin-top: 100px;
    text-align: center;

}




